.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
    padding: 10px;
}

.logo {
    width: 200px;
    margin-bottom: 10px;
   
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
    
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav-items > ul > li {
    padding: 10px;
    margin: 5px;
    transition: color 0.3s ease;
}

.nav-items > ul > li:hover {
    color: #007BFF;
    cursor: pointer;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.res-card {
    padding: 5px;
    width: 90%;
    max-width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing:border-box;
    overflow: hidden;
   
}
.res-card:hover {
    transform: scale(1.05);
}
.search {
    padding: 10px;
    margin-bottom: 20px;
}

.res-logo {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}
.filter-btn {
    margin: 10px;
    cursor: pointer;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin:20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;

}
.login {
    padding: 0 10px;
    cursor: pointer;
}
.filter {
    display: flex;
}

.menu-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item-image img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item-details {
    text-align: center;
}

.menu-item-details h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.menu-item-details p {
    margin: 5px 0;
    color: #666;
}

.menu-item-details strong {
    color: #000;
    font-size: 16px;
}